// Cores
$white: #FFFFFF;
$blue: #00b4cb;
$red: #d11142;
$green: #7ac142;
$darkgreen: #007e7a;
$yellow: #ECB11F;
$gray: #f7f7f7;

// others
$base-font-size: 16px;
$base-spacing-unit: 10px;
$frameWidth: 693px;
$padding: 20px;